@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659367096207') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youleyuan:before {
  content: "\e8e3";
}

.icon-tubiao-hanshu:before {
  content: "\e6fd";
}

.icon-react:before {
  content: "\e64b";
}

